{{ define "modal-followers" }}
<div class="modal fade" id="modal-followers">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2>Seguidores</h2>
            </div>
            <div class="modal-body">
                {{ range .Followers }}
                    <a href="/users/{{ .Id }}" target="_blank">{{ .Nickname }}</a> <br />
                {{ else }}
                    <p class="text-muted text-center">
                        Nenhum seguidor.
                    </p>
                {{ end }}
            </div>
        </div>
    </div>
</div>
{{ end }}