<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Go Lang - Projeto para estudos - Editar Publicação</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href="/assets/css/ext/bootstrap.css" rel="stylesheet">
</head>
<body>

  {{ template "menu"}}

  <div class="container-fluid">
    <div class="row mt-4">
        <div class="col-12">
            <h3>Editar Publicação</h3>
            <div class="form-group">
                <label for="title">Título:</label>
                <input type="text" class="form-control" name="title" id="title" placeholder="Insira o título da publicação" value="{{ .Title }}">
            </div>
            <div class="form-group">
                <label for="content">Conteúdo:</label>
                <textarea class="form-control" name="content" id="content" placeholder="Insira o conteúdo da publicação">{{ .Content }}</textarea>
            </div> 
            <button id="btn-return" class="btn btn-info">Cancelar</button>
            <button id="btn-edit" class="btn btn-info" data-post-id="{{ .Id }}">Salvar alterações</button>
        </div>
    </div>
  </div>

  {{ template "footer"}}
  {{ template "scripts"}}
  <script src="/assets/js/post.js"></script>

</body>
</html>