<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Go Lang - Projeto para estudos</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href="/assets/css/ext/bootstrap.css" rel="stylesheet">
</head>
<body>

    {{ template "menu"}}  

    <div class="container-fluid">
        <div class="row mt-4">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Usuários encontrados</h5>
                        {{ range . }}
                           <p class="card-text">
                             {{ .Name }} - <a href="/users/{{  .Id }}">{{ .Nickname }}</a> - Membro desde {{ .CreationDate.Format "02/01/2006"}}
                            </p>
                        {{ else }}
                            <p class="card-text">
                                Nenhum usuário encontrado.
                            </p>

                        {{ end }}
                    </div>
                </div>
            </div>
        </div>

    </div>

    {{ template "footer" }}
    {{ template "scripts" }}
</body>
</html>
